@using ArticleSystem.Web.ViewModels.Home
@using ArticleSystem.Web.Helpers

@{ 
    var articles = (List<IndexSliderArticlesViewModel>)ViewBag.Articles;
}

<div class="slider">
    @foreach (var article in articles)
    {
        <div>
            <img src="@ImageFromDb.Image(article.SliderImage, "slider")" />
            <div class="slider-info-y">
                <h1>@article.Title</h1>
                @Html.Raw(article.TextHtml)
                <div class="read-more"><a href="~/Articles/Details/@article.Id">Read more</a></div>
            </div>
        </div>
    }
</div>