@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

@Styles.Render("~/Content/bootstrap.css")

<div id="main-content">
    <h1 class="text-danger">Oops!</h1>
    <h2 class="text-danger">Something bad happened!</h2>
    <h4>@Model.Exception.Message</h4>
    <h1>&nbsp;</h1>
</div>