<div id="main-content">
    <section id="info-container">
        <ul class="list">
            <li class="item">
                <h3>Some information here</h3>
                <a href="/post.html"><img src="images/img-sm-1.jpeg"></a>
                <p>
                    Curabitur blandit rutrum pharetra. Donec dictum felis eu eros pretium vulputate. Etiam quis nulla ac
                    turpis
                    molestie tempus et in purus. Suspendisse potenti. Integer
                </p>
            </li>
            <li class="item">
                <h3>Some information here</h3>
                <a href="/post.html"><img src="images/img-sm-2.jpeg"></a>
                <p>
                    Curabitur blandit rutrum pharetra. Donec dictum felis eu eros pretium vulputate. Etiam quis nulla ac
                    turpis
                    molestie tempus et in purus. Suspendisse potenti. Integer
                </p>
            </li>
            <li class="item">
                <h3>Some information here</h3>
                <a href="/post.html"><img src="images/img-sm-3.jpeg"></a>
                <p>
                    Curabitur blandit rutrum pharetra. Donec dictum felis eu eros pretium vulputate. Etiam quis nulla ac
                    turpis
                    molestie tempus et in purus. Suspendisse potenti. Integer
                </p>
            </li>
        </ul>
    </section>
    <div id="multimedia-container">
        <section id="blog-posts">
            <h3>From the blog</h3>
            <ul>
                <li><a href="#">Curabitur blandit rutrum felis pretium</a></li>
                <li><a href="#">Pharetra donec dictum felis eu quis </a></li>
                <li><a href="#">Eros pretium vulputate dictum donec</a></li>
                <li><a href="#">Etiam quis nulla ac turpis moles</a></li>
                <li><a href="#">Suspendisse potenti integer donec</a></li>
                <li><a href="#">Accumsan nunc sollicitudin id pelle</a></li>
            </ul>
        </section>
        <section id="multimedia" class="col-2">
            <h3>Multimedia</h3>
            <button id="btn-prev"></button>
            <button id="btn-next"></button>
            <div class="multimedia-slider">
                <div class="slider-item active">
                    <a href="#"><img src="images/img-xs-1.jpg"></a>
                    <p class="slider-description">
                        Curabitur blandit rutrum pharetra. Donec dictum felis eu eros pretium
                        vulputate. Etiam quis bla bla blalslfksfklsflskfslfks
                    </p>
                </div>
                <div class="slider-item active">
                    <a href="#"><img src="images/img-xs-2.jpg"></a>
                    <p class="slider-description">
                        2 Curabitur blandit rutrum pharetra. Donec dictum felis eu eros pretium
                        vulputate. Etiam quis
                    </p>
                </div>
                <div class="slider-item active">
                    <a href="#"><img src="images/img-xs-3.jpg"></a>
                    <p class="slider-description">
                        Curabitur blandit rutrum pharetra. Donec dictum felis eu eros pretium
                        vulputate. Etiam quis
                    </p>
                </div>
                <div class="slider-item active">
                    <a href="#"><img src="images/img-xs-4.jpg"></a>
                    <p class="slider-description">
                        Curabitur blandit rutrum pharetra. Donec dictum felis eu eros pretium
                        vulputate. Etiam quis
                    </p>
                </div>
                <div class="slider-item active">
                    <a href="#"><img src="images/img-xs-5.jpg"></a>
                    <p class="slider-description">
                        Curabitur blandit rutrum pharetra. Donec dictum felis eu eros pretium
                        vulputate. Etiam quis
                    </p>
                </div>
                <div class="slider-item active">
                    <a href="#"><img src="images/img-xs-6.jpg"></a>
                    <p class="slider-description">
                        Curabitur blandit rutrum pharetra. Donec dictum felis eu eros pretium
                        vulputate. Etiam quis
                    </p>
                </div>
                <div class="slider-item active last">
                    <a href="#"><img src="images/img-xs-7.jpg"></a>
                    <p class="slider-description">
                        Curabitur blandit rutrum pharetra. Donec dictum felis eu eros pretium
                        vulputate. Etiam quis
                    </p>
                </div>
                <div class="slider-item inactive">
                    <a href="#"><img src="images/img-xs-8.jpg"></a>
                    <p class="slider-description">
                        Curabitur blandit rutrum pharetra. Donec dictum felis eu eros pretium
                        vulputate. Etiam quis
                    </p>
                </div>
                <div class="slider-item inactive">
                    <a href="#"><img src="images/img-xs-9.jpg"></a>
                    <p class="slider-description">
                        Curabitur blandit rutrum pharetra. Donec dictum felis eu eros pretium
                        vulputate. Etiam quis
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>