@using ArticleSystem.Web.ViewModels.Home
@using ArticleSystem.Web.Helpers

@model List<IndexTopRatedArticlesViewModel>

<div id="main-content">
    <section id="info-container">
        <ul class="list">
            @for (int i = 1; i <= Model.Count; i++)
            {
                <li class="@(i%3 == 0 ? "item item-last" : "item")">
                    <h3>@TextShortener.ShortenText(Model[i - 1].Title, 70)</h3>
                    <a href="~/Articles/Details/@Model[i-1].Id"><img src="@ImageFromDb.Image(Model[i-1].IndexImage, "index")" /></a>
                    <p>@TextShortener.ShortenText(Model[i - 1].TextHtml, 140)</p>
                </li>
            }
        </ul>
    </section>
</div>