<div id="main-content" class="inner-page self-clear">
    <p>#Tech Blog - web application for news sharing</p>
    <p>##3 user roles</p>
    <ul>
        <li>Administrator - can delete/edit all articles &amp; comments</li>
        <li>PowerUser - can upload articles, can edit articles, which the user previously created; can up/down vote &amp; post comments</li>
        <li>User - can browse articles, up/down vote and post comments</li>
        <li>Unregistered users can only view the articles &amp; posts</li>
    </ul>
    <p>All users can search in the articles in the application</p>
    <p>##Database models</p>
    <ul>
        <li>Articles - generated into several fixed categories</li>
        <li>Comments - comments for each articles</li>
        <li>Votes - votes for each article. Each user can vote only once per article. He/she can change the vote later</li>
    </ul>
    <p>##Index page</p>
    <ul>
        <li>Contains a slider, showing the latest 4 articles; The page is cached for 15 minutes</li>
        <li>Main contain shows the 6 top articles (by votes count</li>
    </ul>
    <p><a href="https://github.com/ykomitov/ArticleSystem/blob/master/screenshots/screen1.jpeg" target="_blank"><img src="https://github.com/ykomitov/ArticleSystem/raw/master/screenshots/screen1.jpeg" alt="alt tag" style="max-width:100%;"></a></p>
    <p>##Category page</p>
    <ul>
        <li>Shows articles from each category, with server side paging. Two articles per page, with sample text and link to articles. Registered users can vote for the articles</li>
        <li>In the aside element there are the "hot" articles section - showing the top 6 recent articles and the "From the archives" section, showing the 6 best rated articles</li>
    </ul>
    <p><a href="https://github.com/ykomitov/ArticleSystem/blob/master/screenshots/screen2.jpeg" target="_blank"><img src="https://github.com/ykomitov/ArticleSystem/raw/master/screenshots/screen2.jpeg" alt="alt tag" style="max-width:100%;"></a></p>
    <p>##Article details page</p>
    <ul>
        <li>Shows the whole article &amp; its comments. Registered users can add comments here.</li>
        <li>In the aside element there are the "hot" articles section - showing the top 6 recent articles and the "From the archives" section, showing the 6 best rated articles</li>
    </ul>
    <p><a href="https://github.com/ykomitov/ArticleSystem/blob/master/screenshots/screen3.jpeg" target="_blank"><img src="https://github.com/ykomitov/ArticleSystem/raw/master/screenshots/screen3.jpeg" alt="alt tag" style="max-width:100%;"></a></p>
    <p>##Search results page</p>
    <ul>
        <li>Shows the result of the entered search</li>
    </ul>
    <p><a href="https://github.com/ykomitov/ArticleSystem/blob/master/screenshots/screen4.jpeg" target="_blank"><img src="https://github.com/ykomitov/ArticleSystem/raw/master/screenshots/screen4.jpeg" alt="alt tag" style="max-width:100%;"></a></p>
</div>
